
@{
    ViewBag.Title = "Index";
}

<h2>Admin Dashboard</h2>

@Html.ActionLink("Manage Blogs", "ManageBlogs")
@Html.ActionLink("Add New Blog","AddBlog")
@Html.ActionLink("Add New Blog Category", "AddCategory")


